<h1>/deck_search/show</h1>

<%= render partial: "search_fields" %>

<br>

<% if @deck_search.decks.length == 0 %>
    <h3>Sorry, no decks match that search.</h3>
<% else %>  
    <%= render partial: "deck_table" %>
<% end %>