<h1>Admin Resources</h1>

<h3>
    <%= link_to "Admin Approved Decks", '/admin_decks', method: 'get' %>
     || 
    <%= link_to "Deck Search", '/deck_search', method: 'get' %>
     || 
    User Search
</h3>
