<h1>Hello!</h1> 
<h2>Welcome to ESL flash card resources application.</h2>

<button><%= link_to "Sign in here", "/login" %></button>
<br><br>
<button><%= link_to "Average Wait Time", "/wait_time" %></button>
<br><br>
<button><%= link_to "/users/1", "/users/1" %></button>